.contact-content {
    height: 100%;
    display: block;
    /* background-color: rgb(208, 208, 243); */
    background: url(../img/img-6.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 32px;
    margin-bottom: 40px;
    padding: 9px;
    overflow: hidden;
    position: relative;
}

.contact-content::after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: inherit;
    opacity: 0.15;
    border-radius: 12px;
    z-index: -1;
}

.contact-content div h2 {
    text-align: center !important;
}

.form-box {
    display: flex;
    justify-content: center;
    align-items: center;
}